/*
Custom CSS for vndb.org's "Angelic Serenade (dark blue)" skin.
Disable design-altering extensions such as Dark Reader.
Last updated: 10/04/2024
*/
/* Color overrides */
html {
    --grayedout: rgb(132, 182, 224);
    --boxtitle:  var(--grayedout);
    --footer:    var(--grayedout);
    --border:    rgb(40, 100, 160);
    --secborder: var(--border);
    --statok:    rgb(50, 255, 50);
    --statnok:   rgb(255, 50, 50);
    --boxbg:     rgba(6, 24, 40, 0.75);
}
/* Defines new colors for use in this stylesheet */
html {
    --optselected: rgb(180, 208, 255);
    --gold:        rgb(255, 178, 0);
}

/* Removes the Angelic Serenade character (vndb.org/c3005) */
body {
    background-image: none;
}
/* Makes the right background image follow while scrolling */
#bgright {
    position: fixed;
}

/* Styles the title "the visual novel database" */
body > header h1 {
    font: bold 32px "Arial", serif;
    color: var(--gold);
}

/* Adjusts font families for different sections */
nav h1, nav h2 {
    font-family: "Tahoma", serif;
}
main h1, main h2 {
    font-family: "Arial", serif;
}

/* Removes focus outline for checkboxes and radio buttons */
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: none;
}

/* Removes underline on the footer links */
main > footer a {
    text-decoration-style: none;
}

/* Hides irrelevant elements */
div#support,
p.screenshots,
body > nav > article:last-child {
    display: none;
}

/* Targeted post has a solid instead of dotted outline */
.thread tr:target,
.thread tr.target {
    outline-style: solid;
}
/* Fixes slightly pink border on the bottom */
.thread tr:target > td,
.thread tr.target > td {
    border-bottom: none;
}

/* Reverts the border removal on hover for options */
.browseopts a:hover,
.browseopts button:hover {
    border: 1px solid var(--border);
    padding: 1px 3px;
    background-color: var(--secbg);
}
/* Reverts the border removal for selected options */
.browseopts .optselected {
    border: 1px solid var(--optselected);
    padding: 1px 3px;
}
/* Reverts the border removal on hover for selected options */
.browseopts .optselected:hover {
    border: 1px solid var(--optselected);
    background-color: var(--secbg);
}

/* Reverts offset of arrows of links */
.elm_dd > a > span:last-child {
    right: 0px;
}

/* Makes vn notes on a vn list like normal text and new lines actually render */
.ulist .tc_title small {
    color: var(--maintext);
    white-space-collapse: preserve-breaks;
}
/* Sets a width for labels on a vn list like other columns */
.ulist .tc_labels {
    white-space: nowrap;
    /* Smallest width for the label to be in one line */
    width: 74px;
}

/* Makes "report user" links on profiles not italic */
p.itemmsg > a {
    font-style: normal;
}

/* Improves default input color button */
input[type="color"] {
    border: none;
    height: 18px;
    vertical-align: sub;
}

/* Centers and makes the homepage articles more eye-pleasing */
.homepage p.mainopts {
    margin: 6px 0 0 0;
}
.homepage h1 {
    margin: 3px 0 5px 3px;
}
.homepage article {
    padding: 0 2px 3px 2px;
}