/*
Custom CSS for vndb's Angelic Serenade skin.
Last updated: 2025/03/22
*/

html
/* Color overrides */{
    --grayedout:   rgb(132, 182, 224);
    --boxtitle:    var(--grayedout);
    --footer:      var(--grayedout);
    --border:      rgb(40, 100, 160);
    --secborder:   var(--border);
    --statok:      rgb(50, 255, 50);
    --statnok:     rgb(255, 50, 50);
    --boxbg:       rgba(6, 24, 40, 0.75);
    /* New colors */
    --optselected: rgb(180, 208, 255);
    --gold:        rgb(255, 178, 0);
}

/* Removes the Angelic Serenade character (vndb.org/c3005) */
body {
    background-image: none;
}
/* Makes the right background image follow while scrolling */
#bgright {
    position: fixed;
}

/* Styles the title "the visual novel database" */
body > header h1 {
    font: bold 24px "Arial", serif;
    color: var(--gold);
}

main h1, main h2 {
    font-family: "Arial", serif;
}

/* Removes ugly outline for checkboxes and radios when focused */
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: none;
}

/* Removes ugly underline for footer links */
main > footer a {
    text-decoration: none;
}

/* Hides irrelevant elements */
div#support,
p.screenshots,
body > nav > article:last-child {
    display: none;
}

/* Targeted posts have a solid instead of dotted outline (e.g. vndb.org/t22501.1) */
.thread tr:target,
.thread tr.target {
    outline-style: solid;
}
.thread tr:target > td,
.thread tr.target > td {
    border-bottom: none;
}

/* Changes colors for selection of text */
::selection {
    background-color: rgb(0, 80, 180);
    color: rgb(255, 255, 255);
}

/* Options (like in vndb.org/v?sq=) look a lot better */
.browseopts a:hover,
.browseopts button:hover {
    border: 1px solid var(--border);
    padding: 1px 3px;
    background-color: var(--secbg);
}
.browseopts .optselected {
    border: 1px solid var(--optselected);
    padding: 1px 3px;
}
.browseopts .optselected:hover {
    border: 1px solid var(--optselected);
    background-color: var(--secbg);
}

/* Puts in a better place hidden arrows when selecting certain elements */
.elm_dd > a > span:last-child {
    right: 0px;
}

/* Due to the recent changes to VN lists, I will rewrite this section later 

/* Makes vn notes on a vn list like normal text and new lines actually render
.ulist .tc_title small {
    color: var(--maintext);
    white-space: pre-wrap;
}
/* Sets a width for labels on a vn list like other columns
.ulist .tc_labels {
    white-space: nowrap;
    /* Smallest width for the label to be in one line
    width: 74px;
}
*/

/* Report links in various pages are not italic */
p.itemmsg > a {
    font-style: normal;
}

/* Improves input color button (Only gets used on the Tags & Traits tab in account profiles) */
input[type="color"] {
    border: none;
    height: 18px;
    vertical-align: sub;
}

/* Fixes some spacing on the home page */
.homepage p.mainopts {
    margin: 6px 0 0 0;
}
.homepage h1 {
    margin: 3px 0 5px 3px;
}
.homepage article {
    padding: 0 2px 3px 2px;
}

